.space,
.tile {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid;
}
.space .tile {
  position: absolute;
}
.tile {
  text-align: center;
  vertical-align: middle;
}
#bar {
  float: left;
  border: 1px solid;
  height: 65px;
  margin-left: 3px;
  padding-left: 4px;
  padding-top: 10px;
}
.rack {
  float: left;
  clear: right;
  width: 301px;
  height: 45px;
  border: 1px solid;
  margin-left: 2px;
  padding-left: 10px;
}
.rack .tile {
  position: relative;
  float: left;
  margin: 4px 2px 0 2px;
}
ul.actions {
  float: left;
  width: 80px;
  margin-top: 4px;
  margin-left: 10px;
  padding-left: 0px;
  list-style: none;
}
