@import 'nib'
tile-size = 35px
tiles = 7

.space, .tile
    width tile-size
    height tile-size
    text-align center
    border 1px solid
.space .tile   
    position absolute
.tile
    text-align center
    vertical-align middle
#bar
    float left
    border 1px solid
    height tile-size + 30px
    margin-left 3px
    padding-left 4px
    padding-top 10px
.rack
    float left
    clear right
    width (tile-size + 8px) * tiles
    height tile-size + 10px
    border 1px solid
    margin-left 2px
    padding-left 10px
.rack .tile
    position relative
    float left
    margin 4px 2px 0 2px
ul.actions
    float left
    width 80px
    margin-top 4px
    margin-left 10px
    padding-left 0px
    list-style none
