@import 'nib'
tile-size = 35px
tiles = 7

.space, .tile
    width tile-size
    height tile-size
    text-align center
    border 1px solid
.tile
    text-align center 
.rack
    display block
    width (tile-size + 4px) * tiles
    height tile-size
    border 1px solid